/* Margin resetting */
html, header {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Arial", "Verdana", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto 0 auto;
}

header {
    background-color: #202030;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #efefff;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #303040;
}

nav ul li a:active {
    background-color: #353545;
}

@media screen and (min-width: 750px) {
    nav ul li {
        float: left;
        min-width: 90px;
    }

    header nav {
        margin: 0 auto 0 auto;
    }

    nav ul li a {
        text-align: center;
    }

    #menu {
        margin: 0 auto 0 auto;
        width: 90%;
    }

    .container {
        width: 90%;
        margin: 0 auto 0 auto;
    }
}