
#jsplumb-container {
    border: 1px solid #2D2D2D;
    margin: 30px auto 30px auto;
    padding: 30px;
    min-height: 300px;
    position: relative;
    overflow-x: auto;
}

.jsplumb-box {
    border: 1px solid #1d2124;
    padding: 10px;
    text-align: center;
    position: absolute; /* Position needs to be absolute for element to be draggable */
    height: 55px;
}

svg circle {
    fill: #1d2124;
}

#inputbox {
    position: absolute;
    top: 35%;
    left: 1%;
}

#outputbox {
    position: absolute;
    top: 35%;
    right: 1%;
}

#footer {
    min-height: 100px;
}

.hide {
    visibility: hidden;
    display: none;
}
